@font-face {
    font-family: FontAwesomeExtra;
    src: url(../fonts/FontAwesomeExtra.woff2);
}

[class*=" fa-extra-"],
[class^=fa-extra-] {
    font-family: FontAwesomeExtra;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    flex: none;
    box-sizing: border-box;
}

.fa-extra-mode-standard::before {
    content: '\e800';
}

.fa-extra-mode-fruits::before {
    content: '\e801';
}

.fa-extra-mode-mania::before {
    content: '\e802';
}

.fa-extra-mode-taiko::before {
    content: '\e803';
}