.settingMenu .nav.nav-tabs {
    border: none;
}

.settingMenu #lanePosAuto:checked+label[for="lanePosAuto"]::after {
    content: "자동 설정";
}

.settingMenu #lanePosAuto+label[for="lanePosAuto"]::after {
    content: "수동 설정";
}

.settingMenu #giveUP:checked+label[for="giveUP"]::after,
.settingMenu #fps:checked+label[for="fps"]::after {
    content: "활성";
}

.settingMenu #notehaptic:checked+label[for="notehaptic"]::after {
    content: "반응";
}

.settingMenu #giveUP+label[for="giveUP"]::after,
.settingMenu #fps+label[for="fps"]::after {
    content: "비활성";
}

.settingMenu #notehaptic+label[for="notehaptic"]::after {
    content: "미반응";
}

.settingMenu a {
    text-decoration: none;
}

.settingMenu .form-label {
    margin-bottom: 1.5rem;
}

@media screen and (max-width:1023px) {
    .settingMenu #nav-input-tab {
        display: none;
    }
}

@media screen and (min-width:1024px) {
    .settingMenu .modal-dialog {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .settingMenu .modal-body {
        display: flex;
        flex-direction: row !important;
    }
}